<!DOCTYPE html>
<html>

<head>
    <meta>
    <title></title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav id="navbar" class="side-nav">
        <header>
            <h1>Angular Docs</h1>
        </header>
        <hr>
        <a class="nav-link" href="#Introduction"><span class="link-code">&lt;</span>
            
            Introduction<span class="link-code">/&gt;</span></a>
        <hr>
        <a class="nav-link" href="#What_you_should_already_know"><span class="link-code">&lt;</span>
            
            What you should already know<span class="link-code">/&gt;</span></a>
        <hr>
        <a class="nav-link" href="#Angular_Overview"><span class="link-code">&lt;</span>
            
            Angular Overview<span class="link-code">/&gt;</span></a>
        <hr>
        <a class="nav-link" href="#Hello_World"><span class="link-code">&lt;</span>
            
            Hello world<span class="link-code">/&gt;</span></a>
        <hr>
        <a class="nav-link" href="#Components"><span class="link-code">&lt;</span>
            
            Components<span class="link-code">/&gt;</span></a>
        <hr>
        <a class="nav-link" href="#Component_metadata"><span class="link-code">&lt;</span>
            
            Component metadata<span class="link-code">/&gt;</span></a>
        <hr>
        <a class="nav-link" href="#Template_Syntax"><span class="link-code">&lt;</span>
            
            Template syntax<span class="link-code">/&gt;</span></a>
        <hr>
        <a class="nav-link" href="#Data_Binding"><span class="link-code">&lt;</span>
            
            Data binding<span class="link-code">/&gt;</span></a>
        <hr>
        <a class="nav-link" href="#Directives"><span class="link-code">&lt;</span>
            
            Directives<span class="link-code">/&gt;</span></a>
        <hr>
        <a class="nav-link" href="#Conclusion"><span class="link-code">&lt;</span>
            
            Conclusion<span class="link-code">/&gt;</span></a>

    </nav>
    <main id="main-doc">
        
        <h1 id="Angular_Documentation">Angular Documentation</h1>
        <hr>

        <section id="Introduction" class="section main-section intro-section">
            <header>
                <h1>Introduction</h1>
            </header>
            <p>Angular is an open-source, TypeScript-based framework developed and maintained by Google. It's designed
                to streamline the process of building dynamic and responsive web applications. Angular embraces the
                concept of declarative programming, which means you describe what you want to achieve, and Angular takes
                care of the "how."</p>

            <h2>Angular Highlights:</h2>
            <ol>
                <li><b> Architecture:</b> Angular follows the Model-View-Controller (MVC) architectural
                    pattern, which helps organize your application's code and promotes separation of concerns.</li>
                <li><b>Single Page Applications (SPAs):</b> Angular facilitates the creation of SPAs, where
                    only portions of a page are updated without requiring full page reloads.</li>
                <li><b>Reactive Programming:</b> Angular focuses on reactive programming, which enables seamless
                    handling
                    of asynchronous data streams and user interactions.</li>
                <li><b>Modularization:</b> Angular has a modular structure, where each aspect of your application is
                    encapsulated into components, services, and modules.</li>
                <li><b>TypeScript:</b> Emphasize that Angular uses TypeScript, a superset of JavaScript, to provide
                    static typing, enhanced tooling, and improved code maintainability.</li>
            </ol>
        </section>
        <section id="What_you_should_already_know" class="section main-section -section">
            <hr>
            <header>
                <h1>What you should already know</h1>
            </header>
            <p>In this section, we'll provide an understanding of the foundational knowledge we expect our readers to
                have before diving into our Angular-based website. We believe that having a certain level of familiarity
                with key concepts will enhance your experience and enable you to make the most of our content.</p>

            <ol>
                <li>
                    <h3>HTML, CSS, and JavaScript</h3>
                    <p>A solid understanding of HTML, CSS, and JavaScript is essential. HTML (Hypertext Markup Language)
                        is the backbone of web content, defining the structure of web pages. CSS (Cascading Style
                        Sheets) is used to style and format the visual presentation of HTML elements. JavaScript, on the
                        other hand, adds interactivity and behavior to web pages, allowing them to respond to user
                        actions.</p>
                </li>
                <li>
                    <h3>Basic Programming Concepts</h3>
                    <p>Familiarity with basic programming concepts such as variables, loops, and functions is crucial.
                        These concepts form the building blocks of coding logic and are essential for effective
                        problem-solving and developing dynamic applications.</p>
                </li>
                <li>
                    <h3>Document Object Model (DOM)</h3>
                    <p>An understanding of the Document Object Model (DOM) is beneficial. The DOM is a programming
                        interface that represents the structure and content of a web page as objects. Manipulating the
                        DOM using JavaScript is a fundamental aspect of creating dynamic and interactive web
                        applications.</p>
                </li>
                <li>
                    <h3>Asynchronous Programming</h3>
                    <p>A basic grasp of asynchronous programming concepts is helpful. JavaScript often deals with tasks
                        that may not complete immediately, such as fetching data from a server or responding to user
                        interactions. Understanding asynchronous programming and handling callbacks or promises will aid
                        in creating smoother user experiences.</p>
                </li>
                <li>
                    <h3>Version Control (Optional)</h3>
                    <p>While not mandatory, familiarity with version control systems like Git can be advantageous.
                        Version control allows you to track changes to your codebase, collaborate with others, and
                        easily revert to previous versions if needed.</p>
                </li>
            </ol>

            <h3>Why?</h3>
            <p>By possessing this foundational knowledge, you'll be well-equipped to explore our Angular-based website
                and fully grasp the concepts and features we present. However, if any of these concepts are new to you,
                don't worry! We're here to guide you through the learning journey, ensuring that you have a meaningful
                and engaging experience as you interact with our content.</p>
        </section>
        <section id="Angular_Overview" class="section main-section">
            <hr>
            <header>
                <h1>Angular Overview</h1>
            </header>
            <p>Welcome to the "Angular Overview" section, where we'll provide you with a high-level understanding of the
                Angular framework and its core concepts. As you delve into our website, you'll discover how Angular
                empowers developers to create dynamic, responsive, and feature-rich web applications.</p>
            <h2>Key Concepts</h2>
            <ul>
                <li>
                    <h3>Components and Component-Based Architecture</h3>
                    <p>Angular is built around the concept of components. A component is a self-contained unit that
                        encapsulates a portion of the user interface along with its behavior and styles. By using
                        components, developers can break down complex UIs into smaller, manageable parts, making the
                        application more modular and maintainable.</p>
                </li>
                <li>
                    <h3>Data Binding and Reactive Programming</h3>
                    <p>Angular's data binding mechanisms facilitate the synchronization of data between components and
                        their corresponding templates. This allows developers to create dynamic and interactive user
                        interfaces without having to manually update the DOM. Additionally, Angular embraces reactive
                        programming, enabling smooth handling of asynchronous events and data streams.</p>
                </li>
                <li>
                    <h3>Dependency Injection</h3>
                    <p>Angular employs a powerful technique known as dependency injection (DI). DI allows you to define
                        dependencies for your components in a way that promotes loose coupling and reusability. This
                        design pattern enhances code organization and makes testing and maintenance more efficient.</p>
                </li>
                <li>
                    <h3>Routing and Single-Page Applications (SPAs)</h3>
                    <p>Angular's routing module enables the creation of single-page applications (SPAs). With SPAs,
                        navigation between different views is seamless, as only portions of the page are updated without
                        the need for full page reloads. This enhances the user experience by providing a more fluid and
                        responsive application.</p>
                </li>
                <li>
                    <h3>Directives</h3>
                    <p>Directives are a key feature of Angular that allow you to extend the behavior of HTML elements.
                        Angular provides both built-in and custom directives. Built-in directives, such as ngIf and
                        ngFor, offer powerful ways to conditionally render content and repeat elements based on data.

                    </p>
                </li>
                <li>
                    <h3>Services and Dependency Injection</h3>
                    <p>Angular's services provide a way to share data, logic, and functionality across different parts
                        of your application. Services can be injected into components, promoting code reusability and
                        separation of concerns. This approach streamlines code maintenance and testing.

                    </p>
                </li>
                <li>
                    <h3>TypeScript Integration</h3>
                    <p>Angular is built with TypeScript, a superset of JavaScript that adds features like static typing,
                        interfaces, and advanced tooling. TypeScript enhances code quality and helps identify potential
                        issues early in the development process.</p>
                </li>
            </ul>
        </section>
        <section id="Hello_World" class="section main-section ">
            <hr>
            <header>
                <h1>Hello World</h1>
            </header>
            <p>This classic introductory example will help you become familiar with the basics of setting up an Angular
                project, creating a component, and displaying content in the browser.</p>
            <h3>Creating Your First Angular Project</h3>
            <p>
                To get started, you'll need to have Angular CLI (Command Line Interface) installed. If you haven't
                installed it yet, you can do so using the following command in your terminal/command line:
            </p>
            <code>npm install -g @angular/cli </code>
            <p>Now, let's create a new Angular project:</p>
            <code>ng new hello-world-app</code>
            <p>Follow the prompts to configure your project. Once the project is generated, navigate to the project
                folder:</p>
            <code>cd hello-world-app</code>
            <h3>Creating a Component</h3>
            <code>ng generate component hello-world</code>
            <p>or for short:</p>
            <code>ng g c hello-world</code>
            <p>These two commands both will generate files for your component, including the component class, template,
                styles, and
                unit test.</p>
            <h3>Editing the Component Template</h3>
            <p>Open the generated hello-world.component.html file and replace its content with the following:</p>
            <code>&lt;h1&gt;Hello, Angular World!&lt;/h1&gt;</code>
            <h3>Displaying the Component</h3>
            <p>Now that you have your component template ready, let's display it in the main application template.</p>
            <p>Open the app.component.html file and replace its content with the following:</p>
            <code>&lt;app-hello-world&gt;&lt;/app-hello-world&gt;</code>
            <h3>Running the Application</h3>
            <p>You're now ready to see your "Hello World" application in action. Run the following command in the
                terminal/command line to start the development server:</p>
            <code>ng serve</code>
            <p>Open your web browser and navigate to http://localhost:4200. You should see the "Hello, Angular World!"
                message displayed on the page.</p>
            <h3>Great job!</h3>
            <p>Congratulations! You've successfully created and run your first Angular application. This simple example
                demonstrates the fundamental steps of setting up a project, generating components, and displaying
                content in the browser. As you explore further, you'll discover how Angular's powerful features enable
                you to build dynamic and interactive web applications with ease.</p>

        </section>
        <section id="Components" class="section main-section -section">
            <hr>
            <header>
                <h1>Components</h1>
            </header>
            <p>Components are the fundamental building blocks of Angular applications, allowing you to create modular,
                reusable, and encapsulated pieces of user interface and functionality.</p>
            <h3>Creating Components</h3>
            <p>Components consist of three main parts and one optional:
                <ul>
                    <li>
                        the component class,
                    </li>
                    <li>
                        the template,
                    </li>
                    <li>
                        the styles,
                    </li>
                    <li>
                        (and the tests).
                    </li>
                </ul> Let's walk
                through the steps to create a component from scratch.</p>
            <ol>
                <li>
                    <h3>Generate the Component:</h3>
                    <p>Using Angular CLI, you can generate a new component with the following command:</p>
                    <code>ng generate component component-name</code>
                    <p>This will create a folder containing the component files in the appropriate directory structure.
                    </p>
                </li>
                <li>
                    <h3>Component Class:</h3>
                    <p>Open the generated <b><i>.ts</i></b> file in the <b><i>component-name</i></b> folder. This is the
                        component class where you
                        define the component's properties, methods, and behavior. You can also use decorators to
                        configure the component's metadata.</p>
                </li>
                <li>
                    <h3>Template:</h3>
                    <p>The component's template defines the structure and layout of the user interface. Open the
                        <b><i>.html</i></b>
                        file in the same folder and write the HTML code that represents your component's appearance.</p>
                </li>
                <li>
                    <h3>Styles:</h3>
                    <p>If needed, you can add styles to your component using the <b><i>.css </i></b>file in the same
                        folder. These
                        styles will only apply to the component, following Angular's encapsulated style approach.</p>
                </li>
            </ol>

            <h3>Component Interaction</h3>
            <p>Components can communicate with each other by passing data between them. This can be achieved through
                <b><i>@Input </i></b>and <b><i>@Output</i></b> properties, allowing parent and child components to share
                data.</p>
            <h3>Component Lifecycle Hooks</h3>
            <p>Angular provides a set of lifecycle hooks that allow you to perform actions at specific points in a
                component's lifecycle. Common hooks include <b><i>ngOnInit</i></b>, <b><i>ngOnChanges</i></b>,
                <b><i>ngAfterViewInit</i></b>, and more.</p>
        </section>
        <section id="Component_metadata" class="section main-section -section">
            <header>
                <h1>Component Metadata</h1>
            </header>
            <p>Welcome to the "Component Metadata" section, where we'll delve into the metadata decorators that play a
                crucial role in configuring Angular components. Metadata decorators provide information about a
                component and guide Angular on how to process and render it.</p>
            <h3>The <b><i>@Component</i></b> Decorator</h3>
            <p>This decorator is used to define metadata for a component. This decorator takes an object with various
                properties
                that influence the behavior of the component. Some of the key properties include:</p>
            <ul>
                <li><b><i>selector</i></b>: Specifies the custom HTML element that represents the component.</li>
                <li><b><i>template</i></b> or <b><i>templateUrl</i></b>: Defines the inline HTML template or the
                    external template file for the component's view.</li>
                <li><b><i>styleUrls</i></b>: An array of external style files for the component's styles.</li>
                <li><b><i>inputs</i></b>: Lists of input and output properties for component interaction.</li>
            </ul>
            <p>Example: (TS)</p>
            <code>@Component({
            selector: 'app-example',
            templateUrl: './example.component.html',
            styleUrls: ['./example.component.css']
            })
            </code>

            <p><b><i>@Input</i></b> and <b><i>@Output</i></b> Decorators
                The <b><i>@Input</i></b> and <b><i>@Output</i></b> decorators allow components to communicate by passing
                data between them. <b><i>@Input</i></b>
                is used to bind a property of a child component to a property of a parent component, while
                <b><i>@Output</i></b>
                allows a child component to emit events that a parent component can listen to.</p>
            <p>Example: (TS)</p>
            <code>
                    @Component({
                        selector: 'app-parent',
                        template: '<app-child [inputData]="parentData" (outputEvent)="handleEvent($event)"></app-child>'
                      })
                      export class ParentComponent {
                        parentData = 'Hello from parent!';
                        handleEvent(eventData: string) {
                          console.log(eventData);
                        }
                      }
                      
                      </code>
            <p>Understanding component metadata is essential for configuring and customizing your Angular components.
                The @Component, @Input, and @Output decorators enable you to define the structure, behavior, and
                interaction patterns of your components, contributing to a more dynamic and modular application
                architecture.

            </p>
        </section>
        <section id="Template_Syntax" class="section main-section -section">
            <header>
                <h1>Template Syntax</h1>
            </header>
            <p>Welcome to the "Template Syntax" section, where we'll delve into Angular's powerful template syntax.
                Templates are an integral part of Angular components, allowing you to define how your components' views
                should be rendered. Angular's template syntax empowers you to create dynamic and interactive user
                interfaces.</p>
            <h3>Interpolation</h3>
            <p>Interpolation is a fundamental feature of Angular's template syntax. It allows you to embed expressions
                within double curly braces ({{ }}) in your templates. These expressions are evaluated and their results
                are displayed within the HTML.</p>
            <p>Example: (html)</p>
            <code>&lt;p&gt;Welcome, {{ username }}!&lt;/p&gt;
            </code>
            <p>In the above example, if <b><i>username</i></b> is a property in your component, its value will be
                dynamically displayed within the paragraph.</p>
            <h3>Directives</h3>
            <p>Angular provides a range of built-in directives that modify the structure or behavior of the DOM. Some
                common directives include:</p>
            <ul>
                <li><b><i>ngIf</i></b>: Conditionally renders elements based on an expression.</li>
                <li><b><i>ngFor</i></b>: Iterates over a collection and generates elements for each item.</li>
                <li><b><i>ngSwitch</i></b>: Conditionally displays content based on a selection.</li>
            </ul>
            <p>Example: (html)</p>
            <code>
                        &lt;ul&gt; 
                            &lt;li *ngFor="let item of items"&gt; {{ item }}&lt;/li&gt; 
                        &lt;/ul&gt;    
                </code>
            <h3>Property Binding</h3>
            <p>Property binding allows you to set an element's property to a value from your component's data. Enclose
                the property name in square brackets (<b><i>[]</i></b>) and assign it the value of an expression.</p>
            <p>Example: (html)</p>
            <code>
                    &lt;img [src]="imageUrl" alt="Angular Logo"&gt;
            </code>

            <h3>Event Binding</h3>
            <p>Event binding lets you respond to user interactions by executing methods in your component. Enclose the
                event name in parentheses (<b><i>()</i></b>) and provide the method to be called.</p>
            <p>Example: (html)</p>
            <code>
                    &lt;button (click)="handleClick()"&gt; Click me&lt;/button&gt; 
            </code>
            <h3>Two-Way Data Binding</h3>
            <p>Two-way data binding combines property binding and event binding, allowing changes in an input element to
                simultaneously update a property in the component and vice versa.</p>
            <p>Example: (html)
            </p>
            <code>
                    &lt;input [(ngModel)]="username"&gt;
            </code>
            <h3>Summary</h3>
            <p>Angular's template syntax provides a powerful way to create dynamic, data-driven user interfaces. Whether
                it's displaying data, iterating over collections, or responding to user interactions, Angular's template
                syntax empowers you to create rich and interactive web applications.</p>
        </section>
        <section id="Data_Binding" class="section main-section -section">
            <header>
                <h1>Data Binding</h1>
            </header>
            <p>Welcome to the "Data Binding" section, where we'll explore the various ways to establish a connection
                between your component's data and your template. Data binding in Angular enables you to keep your user
                interface in sync with your application's data, creating dynamic and responsive user experiences.</p>
            <h3>One-Way Data Binding</h3>
            <p>Angular supports several forms of one-way data binding:</p>
            <ol>
                <li>
                    <h3>Interpolation:</h3>
                    <p>Interpolation binds component properties to template expressions using double curly braces
                        (<b><i>{{ }}</i></b>).</p>
                    <p>Example: (html)</p>
                    <code>
                                &lt;p&gt; {{ message }} &lt;/p&gt; 

                        </code>
                </li>
                <li>
                    <h3>Property Binding:</h3>
                    <p>Property binding sets an element's property to the value of an expression. Use square brackets
                        (<b><i>[]</i></b>) to indicate property binding.</p>
                    <p>Example: (html)</p>
                    <code>
                                &lt;img [src]="imageUrl" alt="Angular Logo"&gt;
                        </code>
                </li>
                <li>
                    <h3>Attribute Binding:</h3>
                    <p>Attribute binding binds an element's attribute to the value of an expression, even if the
                        attribute is not a standard HTML property. Use square brackets (<b><i>[]</i></b>) to indicate
                        attribute
                        binding.</p>
                    <p>Example: (html)</p>
                    <code>
                                &lt;a [attr.href]="linkUrl"&gt;Click here&lt;/a&gt;

                        </code>
                </li>
            </ol>
            <h3>Two-Way Data Binding</h3>
            <p>Two-way data binding combines property binding and event binding to create a seamless synchronization
                between a form control and a component property.</p>
            <p>Example: (html)</p>

            <code>
                    &lt;input [(ngModel)]="username"&gt;
            </code>
            <h3>Event Binding</h3>
            <p>Event binding allows you to listen for events triggered by the user and respond with component methods.
                Use parentheses (<b><i>()</i></b>) to indicate event binding.</p>
            <p>Example:</p>
            <code>
                        &lt;button (click)="handleClick()"&gt;Click me&lt;/button&gt;
                </code>
            <P>Data binding in Angular bridges the gap between your component's data and your template's user interface,
                enabling real-time updates and dynamic interactions. Whether it's displaying content, handling user
                input, or syncing data changes bidirectionally, Angular's data binding features play a central role in
                creating rich and responsive applications.</P>

        </section>
        <section id="Directives" class="section main-section -section">
            <header>
                <h1>Directives</h1>
            </header>
            <p>Directives are a fundamental part of Angular's template syntax, enabling you to extend HTML elements with
                new behavior or manipulate their appearance.</p>
            <code></code>
            <h3>Built-in Directives</h3>
            <ul>
                <li><b><i>ngIf</i></b>: Conditionally renders elements based on an expression.</li>
                <li><b><i>ngFor</i></b>: Iterates over a collection and generates elements for each item.</li>
                <li><b><i>ngSwitch</i></b>: Conditionally displays content based on a selection.</li>
                <li><b><i>ngClass</i></b>: Dynamically apply CSS classes.</li>
                <li><b><i>ngStyle</i></b>: Dynamically apply CSS styles.</li>
            </ul>
            <p>Example: (html)</p>
            <code>
                    &lt;div *ngIf="showContent"&gt;Content is visible!&lt;/div&gt;
                    &lt;ul&gt;
                                &lt;li *ngFor="let item of items"&gt;{{ item }}&lt;/li&gt;
                                &lt;/ul&gt;
                </code>
            <h3>Custom Directives</h3>
            <p>In addition to built-in directives, Angular allows you to create your own custom directives. Custom
                directives provide a way to encapsulate complex behavior, reusability, and enhanced readability in your
                templates.</p>

            <h3>Structural Directives vs. Attribute Directives</h3>
            <p>Angular directives can be categorized into two main types: structural directives and attribute
                directives. </p>
            <ul>
                <li><b><i>Structural Directives</i></b>: Structural directives change the structure of the DOM by adding
                    or removing
                    elements. They use asterisk (<b><i>*</i></b>) notation and include <b><i>ngIf</i></b>,
                    <b><i>ngFor</i></b>, and <b><i>ngSwitch</i></b>.</li>
                <li><b><i>Attribute Directives</i></b>: Attribute directives modify the behavior or appearance of
                    elements by changing their attributes. Examples include <b><i>ngClass</i></b>, <b><i>ngStyle</i></b>
                    and custom directives you create.</li>
            </ul>
            <h3>Directives and Template Syntax</h3>
            <p>Directives are an integral part of Angular's template syntax, enabling you to enhance your templates with
                dynamic behavior and style. By leveraging both built-in and custom directives, you can create user
                interfaces that are both interactive and visually appealing.</p>
            <h3>Directives Summary</h3>
            <p>Directives are a powerful tool that enables you to extend HTML's capabilities in Angular applications.
                Whether you're leveraging built-in directives to control the flow of content or creating custom
                directives to encapsulate specific behavior, directives are an essential concept for building
                feature-rich and dynamic user interfaces.
            </p>
        </section>
        <section id="Conclusion" class="section main-section ">
            <header>
                <h1>Conclusion</h1>
            </header>
            <p>Congrats! You've journeyed through the key concepts of Angular, a powerful framework that empowers
                developers to build dynamic and robust web applications. From understanding the basics of components and
                data binding to exploring directives and template syntax, you've gained insights into the foundational
                elements that make Angular a preferred choice for modern web development.

                As you continue your Angular journey, remember that this documentation is just the beginning. The
                Angular ecosystem is vast and continually evolving, offering a wealth of resources, libraries, and tools
                to help you create exceptional applications.</p>
            <h3>Next Steps</h3>
            <ol>
                <li><b><i>Practice and Experiment</i></b>: The best way to solidify your understanding is by getting hands-on
                    experience.
                    Create your own projects, experiment with different features, and explore advanced concepts.
                </li>
                <li><b><i>Explore the Angular CLI</i></b>: The Angular CLI is a powerful command-line tool that streamlines the
                    development process. Familiarize yourself with its capabilities to boost your productivity.
                </li>
                <li><b><i>Read Official Documentation</i></b>: <a href="https://angular.io/docs">Angular's official documentation </a>is a valuable resource for in-depth
                    information about every aspect of the framework. It's always up-to-date and provides comprehensive
                    explanations.
                </li>
                <li><b><i>Check out Angular Material</i></b>: Angular Material is a UI component library that follows Angular's
                    principles. It provides a set of ready-to-use components to enhance your application's look and
                    feel.
                </li>
                <li><b><i>Community and Learning Resources</i></b> Engage with the vibrant Angular community through forums, social
                    media, and developer events. Online tutorials, courses, and books are also excellent ways to enhance
                    your skills.
                </li>
            </ol>
            <p>Remember that mastery comes with practice and continuous learning. Whether you're building a personal
                project or contributing to a larger application, your understanding of Angular's concepts will serve as
                a solid foundation.</p>

        </section>



    </main>
    <script src="control.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>