.side-nav {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

main {
    margin: 2rem 2rem 2rem 310px;
    padding: 0rem 1rem 0rem 1rem;
}

code {
    color: #30343F !important;
    font-size: 0.96em;
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    border: black solid 1px;
}

ol {
  background-color: rgb(255, 224, 196);
  border: black solid 1px;
  border-radius: 20px;
}
ul {
  background-color: rgb(208, 245, 239);
  border: black solid 1px;
  border-radius: 20px;
  padding: 1rem;
}
a 
h3 {
  font-weight: normal;
}
h1 {
  padding: .5rem 1rem .5rem 1rem;
  font-weight: bolder;
}
h2, h3 {
  margin: 0rem 1rem 0rem 1rem;
}
h2, h3 {
  padding: .5rem;
}
li h3 {
  padding: 0;
  margin: 0;
}
h1 a {
  margin: 0;

}
.nav-link {
  margin: 1rem 2rem 1rem 2rem;
}

.link-code {
  color: #FFFFFF;
  transition: color 0.3s ease-out;
}

.nav-link:hover .link-code {
  color: #ff7f50;
}